name: Trino Build and Test UINT256 plugin

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

defaults:
  run:
    shell: bash --noprofile --norc -euo pipefail {0}

env:
  # An envar that signals to tests we are executing in the CI environment
  CONTINUOUS_INTEGRATION: true
  # allow overriding Maven command
  MAVEN: ./mvnw
  MAVEN_OPTS: "-Xmx512M -XX:+ExitOnOutOfMemoryError"
  MAVEN_INSTALL_OPTS: "-Xmx3G -XX:+ExitOnOutOfMemoryError"
  MAVEN_FAST_INSTALL: "-B -V -T 1C -DskipTests -Dmaven.source.skip=true -Dair.check.skip-all"
  # Testcontainers kills image pulls if they don't make progress for > 30s and retries for 2m before failing
  TESTCONTAINERS_PULL_PAUSE_TIMEOUT: 600
  PTL_TMP_DOWNLOAD_PATH: /tmp/pt_java_downloads

# Cancel previous PR builds.
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  build-and-test-uint256:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # checkout all commits to be able to determine merge base for GIB
      - uses: ./.github/actions/setup
        timeout-minutes: 10
        with:
          cache: 'restore'
          java-version: '24'
      - name: Maven Install
        run: |
          export MAVEN_OPTS="${MAVEN_INSTALL_OPTS}"
          $MAVEN clean install ${MAVEN_FAST_INSTALL} -pl '!:trino-docs'
      - name: Run UINT256 Tests
        run: |
          chmod +x ./testing/bin/ptl
          ./testing/bin/ptl test run --environment singlenode-spark-iceberg -- -g uint256
