name: Trino Build and Test UINT256 plugin

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-test-uint256:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # checkout all commits to be able to determine merge base for GIB
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '24'
      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2-
      - run: |
          chmod +x ./mvnw ./testing/bin/ptl
          ./mvnw clean install -DskipTests  -pl '!:trino-docs' > /dev/null 2>&1
